# 忽略所有文件和目录
/.repo
/build
/config
/lichee
/dl
/logs
/out
/package
/prebuilt
/scripts
/target
/tmp
/toolchain
/tools
.config
Config.in
git_syn.sh
Makefile
rules.mk

/device/config/*
!/device/config/chips

/device/config/chips/*
!/device/config/chips/f133-b

/device/config/chips/f133-b/*
!/device/config/chips/f133-b/configs

/device/config/chips/f133-b/configs/*
!/device/config/chips/f133-b/configs/evb1
